.card__image {
  border-radius: 8px;
  max-height: 413px;
  max-width: 413px;
  width: 100%;
  height: auto;
  display: block;
}
.card__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 413px;
}
.card__title {
  line-height: 120%;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  margin: 20px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like-button {
  background-image: url(../images/DarkLike.png);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin-top: 20px;
  opacity: 0.4;
}
.card__like-button:hover {
  opacity: 1;
}
@media screen and (max-width: 627px) {
  .card {
    margin: 0 auto;
  }
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__content {
    max-width: 288px;
  }
}
