.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  font-size: 32px;
  font-weight: 500;
  max-width: 420px;
  font-style: medium;
  color: #212121;
  margin: 0 0 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  margin: 0;
  max-width: 420px;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__edit-button {
  margin: auto auto 0 0;
  color: #212121;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 16px;
  opacity: 0.7;
}
.profile__edit-button-svg {
  margin-right: 8px;
  opacity: 0.7;
}
.profile__add-button {
  margin: auto 0 0 auto;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  padding: 18px 32px;
  width: auto;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1;
  flex-shrink: 0;
  white-space: nowrap;
}
.profile__edit-button:hover {
  opacity: 1;
}
.profile__edit-button-svg:hover {
  opacity: 1;
}
.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin: 12px 0 6px;
    max-width: 288px;
  }
  .profile__description {
    max-width: 288px;
  }
  .profile__edit-button {
    margin: 32px 0 20px;
  }
  .profile__add-button {
    margin: 0;
    width: 288px;
  }
}
